fastapi
uvicorn
aiohttp
azure-identity
azure-core
azure-eventgrid
azure-storage-blob
azure-communication-callautomation
azure-communication-email
python-dotenv
websockets
openai
azure-search-documents
pandas
openpyxl
PyPDF2
python-multipart
azure-cosmos
langdetect
uvloop
orjson